*.swp

# Eclipse
.project
.cproject

# Build directories
build*/

# PackageBuilder test submodule
testing/package_builder/PBTest/scarab
testing/package_builder/NestedPBTest/PBTest
testing/package_builder/NestedPBTest/scarab
