[submodule "library/param/codec/yaml/yaml-cpp"]
	path = library/param/codec/yaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "library/param/codec/json/rapidjson"]
	path = library/param/codec/json/rapidjson
	url = https://github.com/miloyip/rapidjson.git
